<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <link href="/static/css/blog.css" rel="stylesheet">
        <style>
        .c {
            background: #007bff;
            border: 0;
            padding: 5px;
            margin: 5px;
            text-align: center;
            color: #fff;
        }
    </style>
</head>
<body>

<div style="padding-bottom: 80px">
    {% include "header.html" %}
</div>

<div class="padding">
    <div class="header">
        <h2>Lok Lagbe Blog Forums</h2>
        <section class="menu">
            <form method="post">
                <div class="search__container" style="width: 430px; margin: 0 auto; padding-bottom: 25px">
                    <input class="search__input" name="search" type="text" placeholder="Search by place">
                </div>
            </form>
        </section>
    </div>

    <div class="row">
        {% if havePost == True %}
            <div class="leftcolumn">
                {% for i in list %}
                    <div class="card">
                        <h2>{{ i['tittle'] }}</h2>
                        <div style="height:200px; margin-left: 25%; margin-right: 25%"><img
                                src="/static/blogImage/{{ i['image'] }}" height="100%"
                                width="500px"></div>
                        <p><b>Author: </b>{{ i['name'] }}</p>
                        <hr>
                        <p><b>Content: </b>{{ i['content'] }}</p>
                        {% if session['email'] == i['email'] %}
                            <div style="display: flex; margin: auto auto">
                                <button class="c"><a class="c" href="{{ url_for('blog', id=i['_id'], typ='edit') }}">Edit</a></button>
                                <button class="c"><a class="c" href="{{ url_for('blog', id=i['_id'], typ='dlt') }}">Delete</a></button>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="rightcolumn">
            <div class="card">
                <form method="post">
                    <div class="col">
                        <input height="2px" type="hidden" name="ide" value="{{ pre_id }}"><br/><br/></div>
                    <div class="col">
                        <h3>Post a blog</h3>
                        <div class="row gy-4">
                            <div class="col">
                                <input type="text" name="tittle" class="form-control" required
                                       value="{{ pre_tittle }}" placeholder="Title of Your Blog"/>
                            </div>
                            <div>
                                <input type="file" name="image" class="form-control" value="{{ pre_photo }}" required/>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="content" rows="5" required
                                          placeholder="Blog Details, What's your thought?">{{ pre_content }}</textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            {% if isPost %}
                                <p>{{ result }}</p>
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <button class="my-5 c" type="submit">Post Now</button>
                        </div>
                </form>
            </div>
            <div class="card">
                <h2>About Us</h2>
                <div class="fakeimg" style="height:100px;">Image</div>
                <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
            </div>
            <div class="card">
                <footer id="footer" style="background-color: transparent">
                    <div class="footer-top" style="background-color: transparent">
                        <h3 style="color: black">Follow Us</h3>
                        <p style="color: black">
                            Aftab Nagar, Dhaka-1212<br>
                            Bangladesh <br>
                            <strong>Phone:</strong> +8801700000000<br>
                            <strong>Email:</strong> info@lok_lagbe.com<br>
                        </p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
<div style="padding-top: 20px; padding-left: 0px; padding-right: 0px; margin-right: 0px; margin-left: 0px">

    {% include "footer.html" %}
</div>


</body>
</html>