<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<div style="padding-bottom: 10px">
    {% include "header.html" %}
</div>

<body>
<div style="margin-right: 20%; margin-left: 20%">
    <form method="POST" style="margin: 20%">
        Enter Password:<input type="password" name="pass1" class="form-control" >
        Re enter Password:<input type="password" name="pass2" class="form-control" >
        <p style="color: red">{{ message }}</p>
        <div class="text-center">
            <input type="submit" class="form-submit" value="Change Now"/>
        </div>
    </form>
</div>

{% include "footer.html" %}

</body>
</html>