<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<div style="padding-bottom: 10px">
    {% include "header.html" %}
</div>

<body>
<div class="rounded bg-white mt-5 mb-5">
    <form method="POST">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">DEAL DETAIL</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-3">
                            Start Date:<input type="date" name = 'start_date' class="form-control" placeholder="first name" value=""
                                              required>
                        </div>
                        <div class="col-md-3">
                            End Date<input type="date" name = 'end_date' class="form-control" value="" placeholder="surname" required>
                        </div>
                        <div class="col-md-3">
                            Start_Time:<input type="time" name="Start_Time" class="form-control" placeholder="first name" value=""
                                              required>
                        </div>
                        <div class="col-md-3">
                            End_Time<input type="time" name="end_time" class="form-control" value="" placeholder="surname" required>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        Worker_uid:<input type="text" name="Worker_uid" class="form-control" placeholder="enter address line 1" value="{{ form_data['_id'] }}">
                    </div>
                    <div class="col-md-12">
                        Address:<input type="text" name="address" class="form-control" placeholder="enter address line 1" value="">
                    </div>
                    <div class="col-md-12">
                        Work Description:<input type="text" name="Work_Description" class="form-control" placeholder="enter work details"
                                                value="">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        Name:<input type="text" name="name" class="form-control" placeholder="Name" value="" required>
                    </div>
                    <div class="col-md-6">
                        Contract Information:<input type="tel" name="phonenumber" class="form-control" placeholder="Phone Number"
                                                    value="" required>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12">
                        Email ID:<input type="text" name="email" class="form-control" value="">
                    </div>
                </div>
                <div class="mt-5 text-center">
                        <input type="submit" class="form-submit" value="Submit Request"/>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</div>

<div>
    {% include "footer.html" %}
</div>

</body>
</html>