<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>

{% include "header.html" %}

<!-- ======= Contact Section ======= -->
<section style="padding-top: 115px" id="contact">
    <div class="container-fluid">

        <div class="section-header">
            <h3>Contact Us</h3>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="map mb-4 mb-lg-0">
                    <iframe class="minmap"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4416.875576819757!2d90.42337781534498!3d23.76838889400504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c78bc678693d%3A0x3e87f7b866c0e38!2sEast%20West%20University!5e1!3m2!1sen!2sbd!4v1660587920897!5m2!1sen!2sbd"
                            width="100%" height="340" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-5 info">
                        <i class="bi bi-geo-alt"></i>
                        <p>Aftab Nagar, Dhaka-1212</p>
                    </div>
                    <div class="col-md-4 info">
                        <i class="bi bi-envelope"></i>
                        <p>info@example.com</p>
                    </div>
                    <div class="col-md-3 info">
                        <i class="bi bi-phone"></i>
                        <p>+8801700000000</p>
                    </div>
                </div>

                <div class="form">
                    <form method="POST">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <input type="text" name="name" class="form-control" id="name"
                                       placeholder="Your Name" required>
                            </div>
                            <div class="form-group col-lg-6 mt-3 mt-lg-0">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject"
                                   placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                          required></textarea>
                        </div>
                        {% if isPost == True %}
                            <div class="text-center">
                                <p style="color: red">{{ message }}</p>
                            </div>
                        {% endif %}
                        <div class="text-center">
                            <input type="submit" class="form-submit" value="Send Message"/>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
</section>

{% include "footer.html" %}

</body>
</html>