<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<div style="padding-bottom: 10px">
    {% include "header.html" %}
</div>

<body>
<div style="margin-right: 20%; margin-left: 20%">
    <form method="POST" style="margin: 20%">
        <h3>Email address:</h3>
        <input type="text" name="email" class="form-control" placeholder="your_email@gmail.com">
        <div>
            <p id="demo"></p>
            <p style="color: red; align-content: center">{{ message }}</p>
            <div class="text-center">
                <input onclick="loadDoc()" type="submit" class="form-submit c" value="Submit Request"/>
            </div>

        </div>
    </form>
</div>

{% include "footer.html" %}

</body>
</html>


<script>
    function loadDoc() {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
            document.getElementById("demo").innerHTML = this.responseText;
        }
    }
</script>
