<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

        <div class="logo">
            <h1><a href="/">Lok Lagbe</a></h1>
            {#            <a href="index.html"><img src="/static/assets/img/logo.png" alt="" class="img-fluid"></a>#}
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li><a class="nav-link scrollto " href="#testimonials">Testimonial</a></li>
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                <li class="dropdown"><a href="#"><span>Service</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/service/electrician/">Electrician</a></li>
                        <li><a href="/service/chef/">Chef</a></li>
                        <li><a href="/service/driver/">Driver</a></li>
                        <li><a href="/service/baby_setter/">Baby Setter</a></li>
                        <li><a href="/service/helping_hand/">Helping Hand</a></li>
                        <li><a href="/service/plamber/">Plumber</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/blog/">Blog</a></li>
                <li><a class="nav-link scrollto" href="/about/">About</a></li>
                <li><a class="nav-link scrollto" href="/contact/">Contact</a></li>
                {% if session["logged_in"] %}
                    <li><a class="nav-link scrollto " href="/userprofile/"><img height="30px" width="30px" src="/static/images/a.jpg"></a></li>
                    <li><a class="nav-link scrollto " href="/logout/">Logout</a></li>
                {% else %}
                    <li><a class="nav-link scrollto " href="/login/">Login</a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- #header -->



