<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
{% include "header.html" %}

<div style="padding-top: 70px">
    <section class="menu">
        <div class="heading">
            <h3>Workers Details</h3>
        </div>

        <div class="search__container" style="width: 430px; margin: 0 auto; padding-bottom: 25px">
            <input class="search__input" type="text" placeholder="Search by place">
        </div>

        <div class="box-container">
            {% for i in range(12) %}
                <div class="box">
                    {% include "user.html" %}
                </div>
            {% endfor %}
        </div>
    </section>
</div>

{% include "footer.html" %}

</body>
</html>